<div class="column is-full-mobile is-one-quarter-desktop is-one-third-tablet song-item">
  <div class="columns is-mobile song-item2"> 
    <div class="column is-3-mobile is-2-desktop is-3-tablet">
      <%= link_to "", class: "has-text-white" do %>
        <i class="fas fa-play-circle fa-3x"></i>
      <% end %>
    </div>
    <div class="column has-text-left">
      <h2 class="is-size-5"><%= song.title %></h2>
      <% if current_page?(searches_path)%>
        <p><%= song.album.artist.name %></p>
      <% elsif current_page?(categories_path)%>
        <p><%= song.album.artist.name %></p>
      <% elsif current_page?("#EDITAR")%>
        <span class="icon"><i class="fas fa-play"></i></span><%= song.played_count %>
      <% end %>
    </div>
  </div>
</div>